@charset "utf-8";
@import "tailwindcss";


html { 
  overflow-y: scroll; 
}

input[type='radio'] { 
  vertical-align: text-bottom; 
}

label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  text-decoration: none; 
}

li {
  list-style-type: none;
}